@font-face {
	font-family: 'Helios';
	src: url('../fonts/helios.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/helios.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/helios.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/helios.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/helios.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/helios.svg#helios') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'HeliosC Bold';
	src: url('../fonts/heliosc_bold.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/heliosc_bold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/heliosc_bold.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/heliosc_bold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/heliosc_bold.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/heliosc_bold.svg#heliosc_bold') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'HeliosCompressed Regular';
	src: url('../fonts/helioscompressed_regular.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/helioscompressed_regular.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/helioscompressed_regular.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/helioscompressed_regular.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/helioscompressed_regular.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/helioscompressed_regular.svg#helioscompressed_regular') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'Helios Cond Italic';
	src: url('../fonts/helios_cond_italic.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/helios_cond_italic.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/helios_cond_italic.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/helios_cond_italic.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/helios_cond_italic.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/helios_cond_italic.svg#helios_cond_italic') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'HeliosCondBlack Black';
	src: url('../fonts/helioscondblack_black.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/helioscondblack_black.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/helioscondblack_black.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/helioscondblack_black.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/helioscondblack_black.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/helioscondblack_black.svg#helioscondblack_black') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'HeliosCondBlack Italic';
	src: url('../fonts/helioscondblack_italic.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/helioscondblack_italic.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/helioscondblack_italic.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/helioscondblack_italic.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/helioscondblack_italic.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/helioscondblack_italic.svg#helioscondblack_italic') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'HeliosCondBlack Regular';
	src: url('../fonts/helioscondblack_regular.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/helioscondblack_regular.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/helioscondblack_regular.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/helioscondblack_regular.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/helioscondblack_regular.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/helioscondblack_regular.svg#helioscondblack_regular') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'Helios Cond Bold Italic';
	src: url('../fonts/helios_cond_bold_italic.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/helios_cond_bold_italic.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/helios_cond_bold_italic.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/helios_cond_bold_italic.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/helios_cond_bold_italic.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/helios_cond_bold_italic.svg#helios_cond_bold_italic') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'HeliosCond Bold';
	src: url('../fonts/helioscond_bold.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/helioscond_bold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/helioscond_bold.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/helioscond_bold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/helioscond_bold.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/helioscond_bold.svg#helioscond_bold') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'HeliosCondC Bold';
	src: url('../fonts/helioscondc_bold.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/helioscondc_bold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/helioscondc_bold.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/helioscondc_bold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/helioscondc_bold.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/helioscondc_bold.svg#helioscondc_bold') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'HeliosCondLight';
	src: url('../fonts/helioscondlight.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/helioscondlight.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/helioscondlight.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/helioscondlight.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/helioscondlight.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/helioscondlight.svg#helioscondlight') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'HeliosCondLight Italic';
	src: url('../fonts/helioscondlight_italic.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/helioscondlight_italic.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/helioscondlight_italic.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/helioscondlight_italic.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/helioscondlight_italic.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/helioscondlight_italic.svg#helioscondlight_italic') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'HeliosCondLight Regular';
	src: url('../fonts/helioscondlight_regular.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/helioscondlight_regular.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/helioscondlight_regular.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/helioscondlight_regular.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/helioscondlight_regular.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/helioscondlight_regular.svg#helioscondlight_regular') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'HeliosCondThin Regular';
	src: url('../fonts/helioscondthin_regular.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/helioscondthin_regular.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/helioscondthin_regular.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/helioscondthin_regular.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/helioscondthin_regular.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/helioscondthin_regular.svg#helioscondthin_regular') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'HeliosCond Italic';
	src: url('../fonts/helioscond_italic.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/helioscond_italic.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/helioscond_italic.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/helioscond_italic.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/helioscond_italic.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/helioscond_italic.svg#helioscond_italic') format('svg'); /* Chrome < 4, Legacy iOS */
}

